$lite:  #12c20c;
$brand: #FFF;
$size: 48px;

.h80vh{
  height: 80vh;
}

.loader-1 {
  width : $size;
  height: $size;
  border: 5px solid $lite;
  border-bottom-color: $brand;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 500ms linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}