<app-loading *ngIf="loadingArtist"></app-loading>

<div *ngIf="!loadingArtist" class="row animated fadeIn">
  <div class="col-2">
    <img [src]="artista.images | noimage" [alt]="artista.name" class="img-thumbnail img-circle">
  </div>
  <div class="col">
    <h3>{{ artista.name }}</h3>
    <p>
      <a [href]="artista.external_urls.spotify" target="_blank">
        Ir a la pagina del artista
      </a>
    </p>
  </div>
  <div class="col-4 text-right">
    <!-- routerLink sirve para redireccionar a otro componente mediante una ruta -->
    <button routerLink="/search" type="button" class="btn btn-outline-danger">
      Regresar
    </button>
  </div>
</div>

<div class="row mt-5">
  <div class="col">

    <h2 class="mb-4">Top tracks</h2>

    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Album</th>
          <th>Cancion</th>
          <th>Vista Previa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of topTracks">
          <td><img [src]="track.album.images | noimage" [alt]="track.album.name" class="img-thumb"></td>
          <td>{{ track.album.name }}</td>
          <td>{{ track.name }}</td>
          <td>
            <audio [src]="track.preview_url" controls></audio>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>